{% extends "app/layout.html" %}
{% load static %}
{% block content %}
<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

<h2>{{ title }}</h2>

<br />
<p>Dr. Martin-Pieter Jansen</p>
<p><i>Radboud University/University of Amsterdam</i></p>
<p><i><a href="mailto:m.p.jansen@uva.nl">m.p.jansen@uva.nl</a></i></p>
<br />
<p>Dr. Inge Stortenbeker</p>
<p><i>Radboud University</i></p>
<br />
<p>Dr. Hanneke Hendriks</p>
<p><i>Radboud University</i></p>
<br />
<p>Prof. Dr. Suzan Verberne</p>
<p><i>Leiden University</i></p>
<br />
<p>Dr. Gert-Jan de Bruijn</p>
<p><i>University of Antwerp</i></p>
<br />
<p>Prof. Dr. Enny Das</p>
<p><i>Radboud University</i></p>
<br />

<p>This project was funded by ZonMw under grant project number 555004205.</p>


<div class="col-sm-12 display-lg">
    <!-- Image -->
    <a href="https://https://www.ru.nl/centre-for-language-studies" target="_blank" style="margin: 10px;">
        <img src="/static/app/content/RU_logo_NL.png" style='max-width: 500px; width: auto; height: auto;' title="Radboud Universiteit" />
    </a>
</div>



    {% endblock %}
