{% extends "app/layout.html" %}
{% load static %}
{% block content %}
<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<address>

    <abbr title="Phone">P:</abbr>

</address>

<body>
    <p>BLA, BLA</p>
</body>

<address>
    <strong>Content: </strong> <a href="mailto:M.P.Jansen@uva.nl">M.P.Jansen@uva.nl</a><br />
    <strong>Analysis file and Pros_cons by:</strong> <a>I. Stortenbeker</a><br />
    <strong>Technical Support:</strong> <a href="mailto:Thijs.Hermsen@ru.nl">Thijs.Hermsen@ru.nl</a>
</address>

{% endblock %}
