{% extends "app/layout.html" %}
{% load static %}
{% block content %}
<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

<link href="https://fonts.googleapis.com/css?family=Open+Sans:100,400,400i,600,800" rel="stylesheet">

<div class="jumbotron">
    <h1>Sentences</h1>
    <p class="lead">
        In the SENTENCES-project we investigated how media 
        discussions potentially contribute to individuals’ 
        choices whether or not to take part in cancer screening programs.
    </p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            As the participation rates in populational cancer screening programs are declining,
            this project aimed to understand the role of media discussions in people’s decision
            to take part in screening programs gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="{% url 'about' %}">Find out more about the project &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>News Media</h2>
        <p>
            This study investigated how news media discussed cancer screening.
            We analyzed 5,503 news articles from 2010 to 2022.
        </p>
        <p><a class="btn btn-default" href="{% url 'project1' %}">Go to the study &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Online Forum</h2>
        <p>
            This study investigated how cancer screening is discussed on an online forum.
            We analyzed one of the largest Dutch forums from 2010 to 2024.</a>
        </p>
        <p><a class="btn btn-default" href="{% url 'project2' %}">Go to the study &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Social Media</h2>
        <p>
            This study investigated how people on social media discuss cancer screening.
            We analyzed discussions on X/Twitter from 2010 to 2023.
        </p>
        <p><a class="btn btn-default" href="{% url 'project3' %}">Go to the study &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Agent-Based Modeling</h2>
        <p>
            By using Agent-based modeling on thedataset of messages on X, 
            we were able to model the sentiment about cancer screening discussions.
        </p>
        <p><a class="btn btn-default" href="{% url 'project4' %}">Go to the study &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <!-- Image -->
        <a href="https://https://www.ru.nl/centre-for-language-studies" target="_blank" style="margin: 5px;">
            <img src="/static/app/content/RU_logo_NL.png" style='max-width: 450px; width: auto; height: auto;' title="Radboud Universiteit" />
        </a>

    </div>
</div>

{% endblock %}
