{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>
<h3>{{ intro }}</h3>
<h3>{{ graphs }}</h3>
<h3>{{ context }}</h3>
<h3>{{ pdf }}</h3>

<div class="row">
    <div class="col-md-3">
        <body>
            <img src="{% static 'app/content/graph1.jpg' %}" style='max-width:200px; width: auto; height: auto;' />
        </body>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
    </div>
    <div class="col-md-1">
        <h2></h2>
        <p>

        </p>
    </div>
    <div class="col-md-3">
        <h3>Project 3</h3>
        <body>
            <img src="{% static 'app/content/graph1.jpg' %}" style='max-width:250px; width: auto; height: auto;' />
        </body>
        <br />
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <br />
        <p>
            You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.
            You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.
            You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.
            You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.
        </p>
    </div>
    <div class="col-md-1">
        <h2></h2>
        <p>

        </p>
    </div>
    <div class="col-md-3">
        <h2>Project 3</h2>
        <p>
            You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.
            You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.
            You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.
            You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.
        </p>
    </div>
</div>

    



<div class="row">
    <div class="col-md-4">
        <body>
            <img src="{% static 'app/content/graph1.jpg' %}" style='max-width:200px; width: auto; height: auto;' />
        </body>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
    </div>

    <div class="col-md-4">
        <h2>Project 3</h2>
        <p>
            You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.
            You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.
            You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.
            You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.
        </p>
        <body>
            <img src="{% static 'app/content/graph1.jpg' %}" style='max-width:200px; width: auto; height: auto;' />
        </body>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Project 3</h2>
        <p>
            You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.
            You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.
            You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.
            You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.
        </p>
    </div>

</div>

{% endblock %}